<%- include('../../../partials/header') %> 

<h3 class="h3">Mexican Recipe's</h3>

<table class="table">
    <thead>
      <tr>
        <th class="h5" scope="col">Name</th><br>
        <th class="h5" scope="col">Ingredients</th>
        <th class="h5" scope="col">Description</th>
        <th class="h5" scope="col">Personal Rating</th>
      </tr>
    </thead>
    <tbody>
            <% recipes.forEach(function(r) { %>
            <tr>
                <th class="h6" scope="row"><%= r.name %></th>
                <th class="h6" scope="row"><%= r.ingredients %></th>
                <th class="h6" scope="row"><%= r.description %></th>
                <th class="h6" scope="row"><%= r.personalRating %></th>
                <td><a href="/recipe/view?id=<%= r._id %>">VIEW</a></td>

            </tr>
            <% }); %>
        </div>
      </tbody>
    
    </table>



<%- include('../../../partials/footer') %> 
