<%- include('../partials/header') %> 

<h1>
    Edit Recipe
</h1>

<form method="post" action="/recipe/update?_method=PUT">

    <div>
        <label>Name</label>
        <input type="text" name="name" value="<%= recipe.name %>">
    </div>

    <div>
        <label>Cuisine</label>
        <div class="form-group">
            <select type="text" name="cuisine" value="<%= recipe.cuisine %>">
            <option value="">Select Cuisine</option>
            <option value="korean">Korean</option>
            <option value="mexican">Mexican</option>
            <option value="indian">Indian</option>
            <option value="thai">Thai</option>
            <option value="italian">Italian</option>
            <option value="mediterranean">Mediterranean</option>
        </select>
    </div>

    <div>
        <label>Ingredients</label>
        <input type="text" name="ingredients" value="<%= recipe.ingredients %>">
    </div>

    <div>
        <label>Description</label>
        <input type="text" name="description" value="<%= recipe.ingredients %>">
    </div>

    <div>
        <label>Personal Rating</label>
        <input type="text" name="personalRating" value="<%= recipe.personalRating %>">
    </div>

    <input type="hidden" name="id" value="<%= recipe._id %>">

    <button type="submit">Edit Recipe</button>

</form>

<%- include('../partials/footer') %> 