<%- include('../partials/header') %> 

<br>
<br>
<h1 class="h3">
    Edit Recipe
</h1>

<form method="post" action="/recipe/update?_method=PUT">

    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" value="<%= recipe.name %>">
    </div>
<br>
    <div>
        <label>Cuisine</label>
        <div class="form-group">
            <select type="text" name="cuisine" value="<%= recipe.cuisine %>">
            <option value="">Select Cuisine</option>
            <option value="korean">Korean</option>
            <option value="mexican">Mexican</option>
            <option value="indian">Indian</option>
            <option value="thai">Thai</option>
            <option value="italian">Italian</option>
            <option value="mediterranean">Mediterranean</option>
        </select>
    </div>
<br>
    <div class="form-group">
        <label>Ingredients</label>
        <textarea type="text" name="ingredients" class="form-control" value="<%= recipe.ingredients %>"></textarea>
    </div>
<br>
    <div class="form-group">
        <label>Description</label>
        <textarea type="text" name="description" class="form-control" value="<%= recipe.ingredients %>"></textarea>
    </div>
<br>
    <div class="form-group">
        <label>Personal Rating</label>
        <select type="text" name="personalRating" value="<%= recipe.personalRating %>">
            <option value="">Select Rating</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
    </div>
<br>
    <input type="hidden" name="id" value="<%= recipe._id %>">

    <button type="submit" class="btn btn-primary">Update Recipe</button>

</form>

<%- include('../partials/footer') %> 