<%- include('../partials/header') %> 

<br>
<div class="image-container">
  <% if(currentUser.profilePicture) { %>
    <p> Hello, Chef <%= currentUser.firstName %>! </p>
    <img class="img-thumbnail" src="<%= currentUser.profilePicture %>" >
  <% } %>
</div>

<br><br><br> <br><br><br><br>

<table class="table">
    <thead>
      <tr>
        <th class="h5" scope="col">Name</th><br>
        <th class="h5" scope="col">Cuisine</th>
        <th class="h5" scope="col">Ingredients</th>
        <th class="h5" scope="col">Description</th>
        <th class="h5" scope="col">Personal Rating</th>
      </tr>
    </thead>
    <tbody>
            <% recipes.forEach(function(r) { %>
            <tr>
                <th class="h6" scope="row"><%= r.name %></th>
                <th class="h6" scope="row"><%= r.cuisine %></th>
                <th class="h6" scope="row"><%= r.ingredients %></th>
                <th class="h6" scope="row"><%= r.description %></th>
                <th class="h6" scope="row"><%= r.personalRating %></th>
                <td><a href="/recipe/view?id=<%= r._id %>">VIEW</a></td>
                <td><a href="/recipe/edit?id=<%= r._id %>">EDIT</a></td>
                <td><a href="/recipe/delete?id=<%= r._id %>">DELETE</a></td>

            </tr>
            <% }); %>
        </div>
      </tbody>
    
    </table>

<%- include('../partials/footer') %> 