<%- include('../partials/header') %> 
<br><br>
<h2 class="h3"> <%= recipe.name %> </h2>
<br><br>

<dl class="row">
    <dt class="col-sm-3">Cuisine: </dt>
    <dd class="col-sm-9"><%= recipe.cuisine %></dd>
</dl>

<dl class="row">
    <dt class="col-sm-3">Ingredients: </dt>
    <dd class="col-sm-9"><%= recipe.ingredients %></dd>
</dl>

<dl class="row">
    <dt class="col-sm-3">Description: </dt>
    <dd class="col-sm-9"><%= recipe.description %> </dd>
</dl>

<dl class="row">
    <dt class="col-sm-3">Personal Rating: </dt>
    <dd class="col-sm-9"><%= recipe.personalRating %> </dd>
</dl>

<dl class="row">
    <dt class="col-sm-3">Created At: </dt>
    <dd class="col-sm-9"><%= moment(recipe.createdAt).fromNow() %> </dd>
</dl>

<%- include('../partials/footer') %> 
