<%- include('../partials/header') %> 
<br><br>
<h2 class="h3"> <%= recipe.name %> </h2>
<br><br>

<dl class="row">
    <dt class="col-sm-3">Cuisine: </dt>
    <dd class="col-sm-9"><%= recipe.cuisine %></dd>
</dl>

<dl class="row">
    <dt class="col-sm-3">Ingredients: </dt>
    <dd class="col-sm-9"><%= recipe.ingredients %></dd>
</dl>

<dl class="row">
    <dt class="col-sm-3">Description: </dt>
    <dd class="col-sm-9"><%= recipe.description %> </dd>
</dl>

<dl class="row">
    <dt class="col-sm-3">Personal Rating: </dt>
    <dd class="col-sm-9"><%= recipe.personalRating %> </dd>
</dl>

<dl class="row">
    <dt class="col-sm-3">Created At: </dt>
    <dd class="col-sm-9"><%= moment(recipe.createdAt).fromNow() %> </dd>
</dl>

<div>
    <form id="add-reivews-form" method="POST" action="/recipe/view/reviews?id=<%= recipe._id %>">
        <label>Leave a review: </label> <br><br>
        <textarea name="review" class="form-control"></textarea> <br>
        <button type="submit" class="btn btn-dark">Add Review</button>
    </form>
</div>
<br><br>
<div>
    <h5><b>Reviews</b></h5> <br>
<% recipe.reviews.forEach(function(r){ %>
<div>
    <blockquote class="blockquote text-right">
        <p class="mb-0"><%= r.review %> </p> <br>
        <footer class="blockquote-footer"><%= moment(r.createdAt).fromNow() %></footer>
    </blockquote>
</div>

<% }) %>

</div>

<%- include('../partials/footer') %> 
